body {
    color: #1715e2;
    background: rgba(25, 23, 255, 0.42) url("/background.jpg");
    background-repeat: repeat-x;
    text-align: center;
}

.h2 {
    font-family: 'Algerian_R A', arial, serif;
}

.top-menu {
    position: relative;
    background: rgba(34, 34, 34, .2);
}

.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-main:after {
    content: "";
    display: table;
    clear: both;
}

.left-item {
    float: left;
}

.right-item {
    float: right;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-main a {
    text-decoration: none;
    display: block;
    line-height: 80px;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    transition: .3s linear;
}




/*--- drop down ---*/
nav ul.drop-down {
    background: rgba(255, 255, 255, 0);
    list-style: none;
    position: absolute;
    left: -9999px;
}

nav ul.drop-down li {
    padding-top: 1px;
    float: none;
}

nav ul.drop-down a {
    white-space: nowrap;
}

nav li:hover ul.drop-down {
    left: 0;
}

li:hover, a:hover {
    background-color: #14176b;
    text-decoration: none;
}
nav  li ul li{
    background: rgba(34, 34, 34, .2);
}